* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: background-color 0.3 linear;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.main {
  margin-top: 170px;
}