.introImg {
  width: 100%;
  height: 400px;
}

.introContent {
  background-image: url("/img3.png");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;      /* чтобы изображение полностью покрывало блок */
  background-position: center;
  padding: 100px;
}

.introTitle {
  color: rgb(40, 27, 1);
  font-size: 40px;
  margin-bottom: 20px;
}

.introText {
  color: rgb(40, 27, 1);
  font-size: 25px;
}